body {
  font-family: "Lato", sans-serif;
  /* max-height: 100vh;
    overflow: hidden; */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.navbar__container {
  padding: 0 20px;
} 

nav {
  top: 0;
  position: sticky;
  z-index: 9 !important;
  /* display: flex;
  padding: 0 20px;
  background-color: #121212;
  justify-content: space-between; */
}

.navbar__logo {
  /* display: block; */
  width: 120px;
  margin-top: -15px;
}

@media only screen and (max-width: 610px) { 
  .navbar__logo {
    width: 85px;
    margin-top: -8px;

  }

}

.navbar__list {
  display: block;
  padding: 0;
  margin: auto 0;
  margin-left: auto;
  list-style: none;
  font-size: 22px;
}

.navbar__list__item {
  display: inline-block;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  padding: 35px 0;
}

.navbar__list__item--button:hover {
  background-color: #000000;
  transition: color 0.3s ease-in-out;
}

.navbar__list__item a {
  text-decoration: none;
  color: #ffffff;
  padding: 35px 25px;
}

.navbar__list__item a:visited {
  color: #ffffff;
}

.header {
  position: relative;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.788);
}

/* .header__text{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: #000000;
} */

.background__image__logo {
  display: block;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 100%; */
  transform: translate(-50%, -55%);
  /* background-color: rgba(209, 209, 209, 0.788); */
}

.background__image__link {
  width: 100%;
}

.header__banner {
  width: 100vw;
  height: 100vh;
  /* background-repeat: no-repeat;
    background-attachment: fixed; */
  background-position: 0% 30%;
  background-image: url("../images/background image\.png");
  background-size: cover;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #121212;
  border-radius: 5px;
  padding: 14px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #000000;
  transition: color 0.3s ease-in-out;
}


.about {
    padding: 5rem 7rem;
}

.about__container {
    position: relative;
}

.about__image__container {
    height: 135vh;
    width: 50%;
} 

.about__image {
    display: block;
    width: 100%;
    height: 100%;
}


.about__text__card {
    position: absolute;
    padding: 1rem 2rem;
    z-index: 1;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    width: 50%;
    /* height: 50%; */
    background-color: #f7f7f7;
    box-shadow: 0 3px 3px 1px #00000052;
}

.about__text {
    display: block;
}

.about__text__header {
    position: relative;
    font-weight: 300;
    color: green;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 3em;
}

.about__text__header::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -.5rem;
    width: 20%;
    height: 3px;
    background-color: green;
}

.about__text__description {
    display: block;
    margin: 2rem 0;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: .3px;
}

.about__text__list__header {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
}

.about__text__list {
    text-align: justify;
    line-height: 1.4;
    letter-spacing: .3px;
    margin-top: 0;
    /* padding: 1rem inherit; */
}

.about__text__list li {
    margin: 1rem 0;
}


@media only screen and (max-width: 750px) { 
  .about {
    padding: 5rem 3rem;
  }

  .about__image__container {
    height: 135vh;
    width: 90%;
} 

  .about__image {
      display: block;
      width: 100%;
      height: 100%;
  }


  .about__text__card {
      position: absolute;
      padding: 1rem 2rem;
      z-index: 1;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      width: 90%;
      /* height: 50%; */
      background-color: #f7f7f7;
      box-shadow: 0 3px 3px 1px #00000052;
  }
}

@media only screen and (max-width: 480px) { 
  .about {
    padding: 5rem 3rem;
  }

  .about__image__container {
    height: 135vh;
    width: 90%;
} 

  .about__image {
      display: block;
      width: 100%;
      height: 100%;
  }


  .about__text__card {
      position: absolute;
      padding: 1rem 2rem;
      z-index: 1;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      width: 90%;
      /* height: 50%; */
      background-color: #f7f7f7;
      box-shadow: 0 3px 3px 1px #00000052;
  }

  .about__text__header {
    font-size: 22px;
  }

  .about__text__header::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -.5rem;
    width: 30%;
    height: 1.4px;
    background-color: green;
  }

  .about__text {
    font-size: 10px;
    font-weight: 600;
  }
}

.backgroud__contact{
  display: flex;
  padding: 7rem 0;
  width: 100%;
  background-color: #121212;
  background-size: cover;
  background-position: 0% 22%;
}
.backgroud__contact .row{
  margin: auto;
}

.contact__header{
  font-size: 2rem !important;
}

.contact__img {
  display: block;
  margin: -3.5rem -11rem;
  width: 38rem;
}

input, textarea {
  color: white;
}

/* label color */
/* label focus color */
.input-field input[type=text]:focus + label {
  color: green !important;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid green !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid green !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid rgb(100, 3, 3) !important;
  box-shadow: 0 1px 0 0 rgb(7, 1, 1) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: green !important;
}


.input-field .prefix.active ~ label {
  color: green !important;
}

.input-field :focus {
  border-bottom: 1px solid green !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
.valid {
  border-bottom: 1px solid green !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.button__style{
  background-color: green !important; 
}

.button__style:hover{
  background-color: rgb(58, 150, 58);
}